#body{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

#body>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    
}


#team-logo img{
    position:absolute;
    left: 0;
    top: 0;
    width: 50px;
    margin: 10px;
}
#team-name marquee{
    position: absolute;
    left: 60px;
    top: 0px;
    font-size:x-large;
}

#team-tactic{
    display: grid;
    background-repeat: no-repeat;
    background-image:url(../img/199917.jpg);
    background-size:contain;
    background-position:center;
    height: 800px;
    width: 700px;
}

#players{
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    grid-template-rows: repeat(9, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-items: center;
}

#player1 { 
    grid-area: 9 / 4 / 10 / 5;
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player2 {
    grid-area: 7 / 5 / 8 / 6; 
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player3 {
    grid-area: 7 / 7 / 8 / 8;
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player4 {
    grid-area: 7 / 3 / 8 / 4; 
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player5 { 
    grid-area: 7 / 1 / 8 / 2; 
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player6 { 
    grid-area: 4 / 1 / 6 / 2; 
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player7 { 
    grid-area: 4 / 3 / 6 / 4; 
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player8 {
    grid-area: 4 / 5 / 6 / 6; 
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player9 {
    grid-area: 4 / 7 / 6 / 8;
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player10 {
    grid-area: 2 / 3 / 4 / 4; 
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}

#player11 { 
    grid-area: 2 / 5 / 4 / 6; 
    background-repeat: no-repeat;
    background-image:url(../img/placeholder-card-normal.webp);
    background-size:contain;
    background-position:center;
    width: 60px;
    height: 80px;
}
#player1 img { 
    width: 60px;
    height: 80px;

}
#player2 img { 
    width: 60px;
    height: 80px;
}
#player3 img { 
    width: 60px;
    height: 80px;
}
#player4 img { 
    width: 60px;
    height: 80px;
}
#player5 img { 
    width: 60px;
    height: 80px;
}
#player6 img { 
    width: 60px;
    height: 80px;
}
#player7 img { 
    width: 60px;
    height: 80px;
}
#player8 img { 
    width: 60px;
    height: 80px;
}
#player9 img { 
    width: 60px;
    height: 80px;
}
#player10 img { 
    width: 60px;
    height: 80px;
}
#player11 img { 
    width: 60px;
    height: 80px;
}
#player12 img { 
    width: 60px;
    height: 80px;
}
#player13 img { 
    width: 60px;
    height: 80px;
}
#player14 img { 
    width: 60px;
    height: 80px;
}
#player15 img { 
    width: 60px;
    height: 80px;
}
#player16 img { 
    width: 60px;
    height: 80px;
}
#player17 img { 
    width: 60px;
    height: 80px;
}
#player18 img { 
    width: 60px;
    height: 80px;
}
#player19 img { 
    width: 60px;
    height: 80px;
}
#player20 img { 
    width: 60px;
    height: 80px;
}
#player22 img { 
    width: 60px;
    height: 80px;
}
#player21 img { 
    width: 60px;
    height: 80px;
}
#player23 img { 
    width: 60px;
    height: 80px;
}
#player24 img { 
    width: 60px;
    height: 80px;
}
#player25 img { 
    width: 60px;
    height: 80px;
}
#player26 img { 
    width: 60px;
    height: 80px;
}


#aside{
    background: rgba(7, 101, 21, 0.642);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    #player12 {

     position: relative;
    }
#content{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     position: absolute;
    }
    #content-img{
        grid-area: 1 / 1 / 2 / 2; 
    }
    #content-name p{
        grid-area: 2 / 1 / 3 / 3; 
    }
    /* #player12 { 
        grid-area: 9 / 4 / 10 / 5;
    }
#player13 {
    grid-area: 7 / 5 / 8 / 6; 
}

#player14 {
    grid-area: 7 / 7 / 8 / 8;
}

#player15 {
    grid-area: 7 / 3 / 8 / 4; 
}

#player16 { 
    grid-area: 7 / 1 / 8 / 2; 
}

#player17 { 
    grid-area: 4 / 1 / 6 / 2; 
}

#player18 { 
    grid-area: 4 / 3 / 6 / 4; 
}

#player19 {
    grid-area: 4 / 5 / 6 / 6; 
}

#player20 {
    grid-area: 4 / 7 / 6 / 8;
}

#player21 {
    grid-area: 2 / 3 / 4 / 4; 
}

#player22 { 
    grid-area: 2 / 5 / 4 / 6; 
} */
#footer{
    background: blue;
    height: 80px;
    font-size: 24px;
}
@media all and (min-width: 800px){
    #main{
        flex:3;
    }

    #aside{
        order: 1;
    }

    #main{
        order: 2;
    }
    
    #footer{
        order: 4;
    }
}

@media all and (min-width: 600px){
    #aside{
        flex:1 ;
    }

}